opensslca:
  - configdir: /etc/ssl
  - cadir: /etc/ssl/CA
  - countryName: SC
  - provinceName: Some State
  - cityName: Some City
  - organizationName: Some Organization
  - adminEmail: admin@example.com
  - caName: Organization Root Certificate
  - capassword: password
  - ca: True
    
gencert: 
  - fqdn:
    - host0.example.com
    
revokecert:
  - fqdn:
    - host0.example.com