opensslca:
{% if salt['grains.get']('os_family') == 'Debian' -%}
  - configdir: /etc/ssl
{% elif salt['grains.get']('os_family') == 'Redhat' -%}
  - configdir: /etc/pki/CA
{% endif -%}
  - countryName: Some Country
  - provinceName: Some State
  - cityName: Some City
  - organizationName: Some Organization
  - adminEmail: admin@example.com
  - caName: Organization Root Certificate
  - capassword: password 
    
gencert:
  - validity: 365
  - fqdn:
    - host.example.com:
    
revokecert:
  - fqdn:
    - hosts.example.com